<div class="split">
    <div>
        <span class="header">@Places</span>
        <a href="/" class="location">@Home</a>
        <a href="/about.html" class="location">@About</a>
        <a href="/press.html" class="location">@Press Corner</a>
    </div>
    <div>
        <span class="header">@Products</span>
        <a href="https://proxi.emux.app" target="_blank" class="location">Proxi</a>
    </div>
    <div>
        <span class="header">@Social</span>
        <a href="mailto:hi@emux.app" target="_blank" class="location">@hi@emux.app</a>
        <a href="https://github.com/EmuxApp" target="_blank" class="location">@GitHub</a>
        <a href="https://www.instagram.com/emux.app" target="_blank" class="location">@Instagram</a>
        <a href="https://twitter.com/EmuxApp" target="_blank" class="location">@Twitter</a>
    </div>
    <div>
        <span class="header">@Company</span>
        <a href="/terms.html" class="location">@Terms of Service</a>
        <a href="/privacy.html" class="location">@Privacy Policy</a>
    </div>
</div>
<p><small>@Made with &#x2764; in Norwich, United Kingdom</small></p>
<p><small>@Copyright &copy; Emux Technologies. All Rights Reserved. Emux Technologies is a trade name of Emux Technologies Limited registered in the United Kingdom.</small></p>